body.nba-bg {
    background: radial-gradient(circle at top, #1d428a, #000);
    font-family: 'Segoe UI', sans-serif;
  }
  
.nba-card {
  width: 360px;
  background: #111;
  border: 2px solid #c8102e;
  box-shadow: 0 0 20px rgba(200,16,46,.6);
}

.nba-title {
  color: #fff;
  letter-spacing: 2px;
}

.form-control {
  background: #222;
  border: 1px solid #444;
  color: #fff;
}

.form-control:focus {
  background: #222;
  color: #fff;
  border-color: #c8102e;
  box-shadow: none;
}

/* ========================= DASHBOARD ========================= */
/* ===== BASE ===== */

body {
  margin: 0;
  height: 100vh;
  overflow: hidden; /* ← evita scroll global */

  background: radial-gradient(circle at top, #1d428a, #22127e);
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

/* ===== SCROLL AREA ===== */

.main-scroll {
  height: calc(100vh - 60px);
  overflow-y: auto;

  padding: 20px;
}

/* 👇 clave */

.main-scroll .container {
  min-height: 100%;
}
/* ===== DASHBOARD ===== */

.dashboard {
  height: 60px;

  background: #0b1c2d;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 3px solid #c9082a;
}

.dashboard a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}



.pack-img {
  width: 350px;
  transition: transform 0.3s ease;
}

.pack-card {
  cursor: pointer;
}


/* =================================== COLLECTION =================================== */

.collection-wrapper {

  height: calc(100vh - 60px); /* dashboard space */
  overflow-y: auto;
  padding: 20px;

}

#collection-grid {

  display: grid;
  gap: 20px;
  justify-content: center;

  grid-template-columns: repeat(4, 240px);
}

/* tablet */
@media (max-width: 1200px) {
  #collection-grid {
    grid-template-columns: repeat(3, 240px);
  }
}

/* mobile */
@media (max-width: 768px) {
  #collection-grid {
    grid-template-columns: repeat(2, 240px);
  }
}

